<div ng-app="app" ng-controller="placesController" ng-init="setup()">
  <div id="places">
  </div>
  <div id="placesMap"></div>
  <div ng-repeat="result in results">
    <p>{{ result.name }}</p>
    {{ result.vicinity }}
  </div>
</div>