<h1>Add a new trip</h1>
  <%= form_tag '/boards', method: :post do %>
  <div class="form-group">
    <%= label_tag :name %>
    <%= text_field_tag :address %>
  </div>   
  <div>
    <%= submit_tag 'Create Trip', class: "btn btn-default" %>
  </div>
<% end %>