<div class="container marginTop blueBackground">
  <div ng-app="app" ng-controller="boardsController">
  <h1>Add a new trip</h1>
    <%= form_tag '/boards', method: :post do %>
    <div class="form-group">
      <%= label_tag :name %>
      <input ng-model="chosenPlace" name="name" type="text" googleplace places-type="(cities)" />      
    </div>      
    <div>
      <%= submit_tag 'Create Trip', class: "btn btn-default" %>
    </div>
  </div>
  <% end %>