// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  // height: 100%;
  width: 100%;
  border: 2px solid black;
}

.mapContainer {
  margin-top: 110px;
}

.navbar-transparent {
  padding-top: 0px;
  background-color: #c3c3c3;  
}

.navbar-nav {
  padding-top: 25px;
}

.wrapper {
  background-color: #e3e3e3;
}

.marginTop {
  margin-top: 150px;
}

.boardName {
  line-height: 1.42857143;
  letter-spacing: 3px;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: "Dosis", sans-serif;  
  line-height: 1.42857143;
}