// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 600px;
}

.mapContainer {
  margin-top: 110px;
}

.navbar-transparent {
  padding-top: 0px;
  background-color: #c3c3c3;  
}

.navbar-nav {
  padding-top: 25px;
  font-size: 1.5em;
}

.wrapper {
  background-color: #f3f3f3;
  height: 1000px;
}

.marginTop {
  margin-top: 150px;
}

.boardName {
  line-height: 1.42857143;
  letter-spacing: 3px;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: "Dosis", sans-serif;  
  line-height: 1.42857143;
}

.centered {
  text-align: center;
}

.actions input {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 8px 37px;
  -webkit-border-radius: 2;
     -moz-border-radius: 2;
       -o-border-radius: 2;
          border-radius: 2;
  background: rgba(255, 255, 255, 0.8);
  color: #111; 
  font-size: 16px;
  padding: 12px 45px;
  line-height: 1.42857143;
}

.boardsDropdown {
  z-index: 99;
  position: absolute;
  float: right;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 8px 37px;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  margin: 15px 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  box-shadow: 1px 1px 1px gray;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  line-height: 1.42857143;
  border-radius: 6px;
  width: 200px;
  height: 45px;
}

.large-logo {display:block;}

.scrolling-logo {display:none;}

.scrolling .large-logo {display:none;}

.scrolling .scrolling-logo {
  display:block;
}
