// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= depend_on_asset "oceanBackground2.png"

.modal-dialog {
  margin-top: 160px;
}

.modalInput {
  width: 200px;
  height: 40px;
}

#modalButton {
  margin-top: 20px;
}

.marginBottom {
  margin-bottom: 20px;
}

.smallMarginTop {
  margin-top: 20px;
}

.dropdown {
  width: 500px;
  margin: 0 auto;
}

#hero, .module-hero .module-video .module-full-height .bg-light-30 {
  // background: url( '/assets/oceanBackground2.png' ) !important;
  background-image:url('<%= asset_path("oceanBackground2.png") %> ') !important;  
  background-size: cover;
  opacity: 1;
}

.addNewField {
  width: 500px;
  margin: 0 auto;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;  
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;  
  opacity: 1 !important;
}

.grayText {
  color: #999191;
}

.newTitle {
  color: #fff;
}

#signUpTitle {
  font-size: 24px;
  letter-spacing: 1.5px;
}

.buttonMargin {
  margin: 5px;
}

.textArea {
  height: 250px;
}

